*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    max-width: 1440px;
}
header{
    max-width: 1200px;
    margin: 0 auto;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav-button img{
    height: 20px;
    margin-top:17px ;
}
.nav-button{
    display: flex;
    gap: 20px;
}
.nav-button li{
   
    display: inline;
    margin-left: 20px;
    
    
}
.nav-button a{
    text-decoration: none;
}
/* air box is now */
.air{
    display: flex;
    gap: 120px;
    margin-top: 100px;
    margin: 100px0 auto;
}
.air-content{
    display: flex;
    align-items: center;
    
    
    
}
.air-head{
    font-size: 2rem;
    font-weight: 600;
}

.air-description{
    font-size: 1rem;
    font-weight: 400;
    color:#3A3A3A ;
    max-width: 505px;
    margin-bottom: 20px;
}
.btn-primary{
    padding: 10px 20px;
    border: none;
    background-color: #E02C6D;
    border-radius: 17px;
}

.imege{
   margin-left: 70px;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
    

}
.bg-shepe{
    position: absolute;

}
.bg-camera{
    position: relative;
}
/* company */
.company-conteiner {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    
    max-width: 1110px;
    margin: 100px auto;
}

/* card box */

.card-conteiner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.card{
    max-width: 329px;
    max-height: 476px;
    box-shadow: 1px 2px 3px 4px lightgray;
    text-align: center;
    border-radius: 10px;
}
.card img{
    width: 95%;
    padding: 5px;

}

/* ?media query */
@media  screen and (max-width:576PX) {
    .navbar{
        flex-direction: column;
    }
    .air{
        flex-direction: column-reverse;
        align-items: center;
        margin: 50px auto;
        justify-items: center;
    }
    .company-conteiner{
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        justify-items: center;
        gap: 30px;
        margin: 100px auto;
    }
    .air-content{
        text-align: center;
        justify-content: center;
    }
    .card-conteiner{
        grid-template-columns: repeat(2, 1fr);
    }
}